.body {
    font-family: 'Lato', sans-serif;
    background-color: #f7f9fc;
}

.header, .main {
    width: 952px;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    margin: 81px 0 78px 0;
}

.header__links{
    width: 45%;
}

.header-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links__menu{
    width: 90%;
}

.header-menu{
    display: flex;
    justify-content: space-between;
}

.header-menu__item {
    margin-right: 10px;
    text-transform: uppercase;
    color: #404040;
    font-size: 16px;
    font-weight: 700;
    position: relative;
}

.header-menu__item:after{
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    width: 0;
    height: 3px;
    background-color: #5c6bc0;
    transition: width 0.3s ease-in-out;
}

.header-menu__item:hover:after{
    width: 100%;
}

.inactive_on-white:hover:after{
    width: 0;
}

.header-menu__item:focus{
    color: #5c6bc0;
}

.inactive_on-white, .inactive_on-white:focus {
    color: #bdbdbd;
}

.header-links__search {
    margin-right: 0;
    display: inline-block;
}

.search {
    cursor: pointer;
}

.search_on-white{
    background-image: url("../images/h-search.png");
    height: 16px;
    width: 16px;
}

.search_on-white:hover {
    background-image: url("../images/h-search-hover.png");
}

.main__post {
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
    background-color: #ffffff;
    margin-bottom: 50px;
}

.post__photo-wrap{
    position: relative;
    display: flex;
    flex-direction: column;
}

.post__photo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.post__photo-wrap:hover .post__photo-overlay{
    opacity: 0.2;
}

.post{
    position: relative;
    padding: 55px 98px 56px 98px;
}

.post_without-photo{
    padding-top: 55px;
}

.post_with-photo{
    padding-top: 48px;
}

.post__label {
    position: absolute;
    right: -10px;
    top: 18px;
    width: auto;
    background-color: #5c6bc0;
    font-size: 14px;
    line-height: 1;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    transition: padding 0.3s ease-in-out;
}

.post__label:hover{
    background-color: #6c79c6;
    padding: 12px 18px;
}

.post__label:focus{
    background-color: #5360ac;
    padding: 12px 18px;
}

.post__date {
    font-size: 14px;
    color: #bdbdbd;
    font-weight: 700;
}

.post__title {
    font-size: 40px;
    line-height: 1.25;
    color: #000000;
    font-weight: 700;
    margin-top: 14px;
    margin-bottom: 0;
    padding-bottom: 40px;
    border-bottom: 2px solid #eeeeee;
}

.post__content {
    margin-top: 32px;
}

.post-content__preview {
    margin-bottom: 26px;
}

.post-preview{
    font-size: 25px;
    line-height: 1.5;
    color: #7f7f7f;
    font-weight: 400;
    font-style: italic;
}

.post-content__text{
    margin-bottom: 14px;
    margin-top: 18px;
}

.post-text{
    font-size: 17px;
    line-height: 1.75;
    color: #333333;
    font-weight: 400;
}

.post-content__text_link{
    color: #5c6bc0;
}

.post-content__text_link:hover{
    text-decoration: underline;
    font-weight: bold;
}

.post-content__quote {
    margin: 20px 0 27px;
}

.post-quote{
    font-size: 20px;
    color: #a0a0a0;
    font-weight: 400;
    line-height: 1.5;
    padding-left: 20px;
    border-left: 5px solid #eee;
}

.post-content__left-img {
    float: left;
    margin: 5px 23px 25px -15px;
}

.post__footer {
    padding-top: 12px;
    margin-left: -35px;
}

.post-links{
    display: flex;
    justify-content: space-between;
}

.post-links__more {
    font-size: 21px;
    color: #5c6bc0;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 35px;
    border: 1px solid transparent;
    box-sizing: border-box;
}

.post-links__more:hover{
    border: 1px solid #f1f1f1;
}

.post-links__more:focus{
    border: 1px solid #7d89cd;
}

.post-links__hyper{
    margin-top: 25px;
}

.hyp-links{
    display: flex;
}

.hyp-links__link {
    margin-left: 10px;
    font-size: 15px;
    font-weight: 400;
    color: #b2b2b2;
}

.hyp-links__link:hover{
    color: #6775c4;
    text-decoration: underline;
}

.hyp-links__link:focus{
    color: #6775c4;
    text-decoration: none;
}

.footer{
    background-color: #5c6bc0;
    text-align: center;
    margin-top: 115px;
    padding-top: 68px;
}

.footer__links {
    margin-top: 53px;
    margin-bottom: 35px;
}

.footer-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-menu{
    display: flex;
    justify-content: space-between;
}

.footer__text {
    width: 760px;
    padding-top: 32px;
    padding-bottom: 10px;
    margin: 28px auto 0;
}

.text_on-dark{
    line-height: 1.75;
    font-weight: 400;
    color: #a9afdb;
    border-top: 3px solid #5765b5;
}

.text_size_xs{
    font-size: 13px;
}

.text_size_s{
    font-size: 14px;
}

.footer-menu__item {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 40px;
    padding-bottom: 3px;
    display: inline-block;
    vertical-align: bottom;
    border-bottom: 1px solid transparent;
}

.inactive_on-dark {
    color: #a9afdb;
}

.footer-menu__item:hover {
    border-bottom: 1px solid #fff;
}

.inactive_on-dark:hover{
    border-bottom: none;
}

.footer-menu__item:focus {
    text-decoration: none;
}

.footer-links__search{
    display: inline-block;
    vertical-align: bottom;
    margin-left: -16px;
    margin-bottom: -5px;
}

.search_on-dark{
    background-image: url("../images/f-search.png");
    background-repeat: no-repeat;
    height: 37px;
    width: 37px;
    background-position: center;
    background-color: #5c6bc0;
    border: none;
}

.search_on-dark:hover{
    background-color: #5360ac;
}

.p-copyright{
    width: 700px;
}

.distinguish{
    font-weight: bold;
    color: #fff;
}

.distinguish:hover{
    text-decoration: underline;
}

.footer__icons{
    margin-top: 16px;
    padding-bottom: 75px;
}

.footer-icons{
    display: flex;
    justify-content: center;
}

.footer-icons__item{
    margin-right: 7px;
    width: 37px;
    height: 37px;
    background-color: transparent;
    display: inline-block;
    line-height: 47px;
    background-repeat: no-repeat;
    background-position: center;
}

.footer-icons__item:hover{
    background-color: #5360ac;
}

.footer-icons__item:last-child{
    margin-right: 0;
}

.footer-icons__item_fb{
    background-image: url("../images/facebook.png");
}

.footer-icons__item_twit{
    background-image: url("../images/twitter.png");
}

.footer-icons__item_inst{
    background-image: url("../images/instagram.png");
}

.footer-icons__item_pin{
    background-image: url("../images/pinterest.png");
}